asgiref==3.11.1
certifi==2026.5.20
cloudinary==1.44.2
Django==6.0.5
djangorestframework==3.17.1
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg2-binary==2.9.12
python-dotenv==1.2.2
six==1.17.0
sqlparse==0.5.5
typing_extensions==4.15.0
urllib3==2.7.0

# Deployment packages
gunicorn==23.0.0
uvicorn==0.34.0
whitenoise==6.9.0
dj-database-url==2.3.0
django-cors-headers==4.7.0
